<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Computer Engineering World!</title>
</head>
<body>
    <link rel="stylesheet" href="Welcome to Style.css">
    <div class="_poster"></div>
    <div class="_Welcome_landing">
        <div class="_Welcome_landing_navigation"></div>
        <div class="denglu"></div>
    </div>
</body>
</html>