* {
    margin: 0;
    padding: 0;
}
._poster {
    width: 565px;
    height: 822px;
    background-color: pink;
    float: left;
}
._Welcome_landing {
    width: 1447px;
    height: 822px;
    background-color: antiquewhite;
}
._Welcome_landing ._Welcome_landing_navigation {
    width: 1447px;
    height: 80px;
    background-color: aqua;
}
._Welcome_landing .denglu {
    width: 450px;
    height: 568.38px;
    background-color: aquamarine;
    float: left;
}